<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>The Left-Handed Kid.md</key>
			<dict>
				<key>lastModification</key>
				<real>551088888.88296998</real>
				<key>version</key>
				<dict>
					<key>d2b958117c4d63324c1f1a34871ce96949b0883f094e9c0516ec87ab4caa4faa</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>中州遺恨.md</key>
			<dict>
				<key>lastModification</key>
				<real>551086193.75022995</real>
				<key>version</key>
				<dict>
					<key>d2b958117c4d63324c1f1a34871ce96949b0883f094e9c0516ec87ab4caa4faa</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>出深圳記.md</key>
			<dict>
				<key>lastModification</key>
				<real>551086193.75023198</real>
				<key>version</key>
				<dict>
					<key>d2b958117c4d63324c1f1a34871ce96949b0883f094e9c0516ec87ab4caa4faa</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>夜航船.md</key>
			<dict>
				<key>lastModification</key>
				<real>551086193.75023103</real>
				<key>version</key>
				<dict>
					<key>d2b958117c4d63324c1f1a34871ce96949b0883f094e9c0516ec87ab4caa4faa</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>恰衣.md</key>
			<dict>
				<key>lastModification</key>
				<real>551099449.21530902</real>
				<key>version</key>
				<dict>
					<key>d2b958117c4d63324c1f1a34871ce96949b0883f094e9c0516ec87ab4caa4faa</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>長歌.md</key>
			<dict>
				<key>lastModification</key>
				<real>551086299.24494505</real>
				<key>version</key>
				<dict>
					<key>d2b958117c4d63324c1f1a34871ce96949b0883f094e9c0516ec87ab4caa4faa</key>
					<integer>9</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>恰衣.md</string>
		</array>
		<array>
			<string>長歌.md</string>
		</array>
		<array>
			<string>The Left-Handed Kid.md</string>
		</array>
		<array>
			<string>中州遺恨.md</string>
		</array>
		<array>
			<string>夜航船.md</string>
		</array>
		<array>
			<string>出深圳記.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>d2b958117c4d63324c1f1a34871ce96949b0883f094e9c0516ec87ab4caa4faa</key>
			<integer>18</integer>
		</dict>
	</dict>
</dict>
</plist>
